.main {
    border: 1px solid lightgray;
    border-width: auto;
    padding: 20px;
}

.main1 {
    border: 1px solid lightgray;
    border-width: auto;
    padding: 20px;
}

.main2 {
    border: 1px solid lightgray;
    border-width: auto;
    padding: 20px;
}

.main3 {
    border: 1px solid lightgray;
    border-width: auto;
    padding: 20px;
}